body { 
        background: #FFF8DC;
}
#container{
    background: #FFFFFF
}
#main-aside-wrapper {
  display: flex;
  flex-direction: column;
}
#main-aside-wrapper main, #main-aside-wrapper aside {
  margin: 10px;
  padding: 10px;
}
#main-aside-wrapper aside {
  flex: 1;
  order: 1;
}
#main-aside-wrapper main {
  flex: 3;
  order: 2;
}

@media screen and (min-width: 800px) {
  #main-aside-wrapper {
    flex-direction: row;
    }
}
      @media screen and (max-width: 799px) {
  #main-aside-wrapper {
    flex-direction: row;
  }
}
    
a { 
 color:red;
 font-weight: bold;
}
        

}

.b-container button{
    background-color: black;
    border-color: black;
}

.b-container{
    width:100%;
    height:100%;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    
}
.b-popup{
    width:40%;
    min-height:50%;
    background-color: rgb(255, 255, 255);
    color:black;
    overflow:hidden;
    position:fixed;
    top:100px;
    border-radius: 40px;
    margin-left: %;
    margin-right: %;
}


.b-popup .b-popup-content{
    display: block;
    width:100px;
    height: 40px;
    padding:10px;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}

img{
	width: 1em;
	float: right;
	margin-top: 5px;;
	
}

#otpr{
	margin-bottom: 1em;
	float: right;
    background-color:black;
    border-color: black;
}

.form-control{
    border-style: hidden;
    width: 80%;
    margin:auto;
}

#oshib {
    text-align: center;
    font-size: 20px;
}


@media screen and (max-width: 800px) {
	.b-popup{
	    width:100vw;
	    height: 100vh;
	    margin-left: 0%;
		margin-right:0%;
        top:0px;
    }
    footer{
            text-align: center;
            background: #FFFFFF;
        }
  
}
